<!-- 
<div id="loginid" class="col-sm-4 ">
  <div class="card">
      <div class="card-body">
        <br>
        <br>
        <br>
  <div class="form-group">
    <label for="name"><font color="blue"></font></label>
    <input type="text" class="form-control" #e id="name" placeholder="Enter username" name="user" required ><br>
  </div>

  
  <div class="form-group">
    <label for="pwd"><font color="orange"><font color="red"></font></font></label>
    <input type="password" class="form-control" #f id="pwd" placeholder="Enter password" name="psw" required ><br>
  </div>

  <br>
  <br>

<div id="btnid" class="row">
  <div class="col-sm-2">
  <button type="submit" class="btn btn-success" (click)="submitt(e.value,f.value)">Validate</button></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
      <button type="submit" class="btn btn-danger">Cancel</button>
      </div>
</div>
</div>
</div>
</div> -->
